@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajusta este valor para coincidir con la altura de tu barra de navegación */

.anchored-section {
  scroll-margin-top: 55px; /* Altura de la barra de navegación */
}
.anchored-section::before {
  content: "";
  display: block;
  height: 60px; /* Altura de la barra de navegación */
  margin-top: -60px;
}

.iconClose {
  color: #5c4506; /* Este es el valor de text-amber-900 en Tailwind CSS */
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bb6b2f;
  border-radius: 4px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
  background: #374151; /* Ajustado para coincidir con gray-700 de Tailwind */
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c87f47 #ebceb4; /* Color amber-800 para el "pulgar" y transparente para la "pista" */
}

/* Añade transiciones para suavizar la aparición del dropdown */
.dropdown-enter {
  opacity: 0;
  transform: scaleY(0);
}

.dropdown-enter-active {
  opacity: 1;
  transform: scaleY(1);
  transition: opacity 300ms, transform 300ms;
}

.dropdown-exit {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown-exit-active {
  opacity: 0;
  transform: scaleY(0);
  transition: opacity 300ms, transform 300ms;
}

/* Efecto de AOS */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}
.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

/* secret */
.inputZone{
  border-radius: 0.25rem;
  width: 100%;
}
.btnZone{
  background-color: #1a80ac;
  color: rgb(255, 255, 255);
  width: 50%;
  padding: 0.25rem;
  align-items: center;
  border-radius: 0.25rem;
}
.btnZone:hover{
  /* background-color: #cdd2d8; */
background-color: #6e9fb5;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 320px));
  gap: 30px;
  justify-content: center;
}